<nav id="mainnav" class="mainnav topnav" role="navigation" aria-label="Navigation">
    <ul class="mainnav-inner topnav-inner">
        {% if site.menus.main %}
            {% for menu in site.menus.main|sortByWeight %}
                <li class="mainnav-item topnav-item">
                    <a id="menu-{{ menu.id }}" weight="{{ menu.weight }}" class="mainnav-link topnav-link{% if url(page) == url(menu.url) or url(page) == url(menu.url)|trim('/') %} active{% endif %}" href="{{ url(menu.url) }}">{{ menu.name }}</a>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
</nav>
