<nav id="subnav" class="subnav topnav" role="navigation" aria-label="Navigation">
    <ul
        class="subnav-inner topnav-inner">{#
                            {% if site.menus.sub %}
                                {% for submenu in site.menus.sub|sortByWeight %}
                                    <li class="subnav-item topnav-item">
                                        <a id="submenu-{{ submenu.id }}" weight="{{ submenu.weight }}" class="subnav-link topnav-link{% if url(page) == url(submenu.url) or url(page) == url(submenu.url)|trim('/') %} active{% endif %}" href="{{ url(submenu.url) }}">{{ submenu.name }}</a>
                                    </li>
                                {% endfor %}
                            {% endif %}
                    #}
    </ul>
</nav>
