{% include 'partials/site-loader.html.twig' %}

<header class="mainhead herohead" id="mainhead">
    <div class="content-wrapper">
        <input type="checkbox" class="mainnav-toggle-input" id="mainnav-toggle-input" name="menu-toggle-input">
        <label class="mainnav-toggle" for="mainnav-toggle-input" id="mainnav-toggle">≡</label>
        {% include 'partials/site-logo.html.twig' %}
        {% include 'partials/site-navigation.html.twig' %}
    </div>
</header>
