.browserupgrade,
.browsehappy {
    margin: var(--xxsmall) 0;
    padding: var(--xxsmall) 0;

    color: var(--text-color);

    background: var(--gray-light);
}

.sr-only {
    position: absolute;

    width: var(--tiny);
    height: var(--tiny);
    margin: var(--negative-tiny);
    padding: 0;
    overflow: hidden;

    white-space: nowrap;

    border: 0;

    clip: rect(0, 0, 0, 0);

    &.focusable {
        &:active,
        &:focus {
            position: static;

            width: auto;
            height: auto;
            margin: 0;
            overflow: visible;

            white-space: inherit;

            clip: auto;
        }
    }
}

.invisible {
    visibility: hidden;
}

.clearfix {
    &::before,
    &::after {
        display: table;

        content: "";
    }

    &::after {
        clear: both;
    }
}

[hidden],
.hidden {
    display: none !important;

    &[aria-hidden="false"] {
        display: initial !important;

        &:not(:focus) {
            position: absolute;

            clip: rect(0, 0, 0, 0);
        }
    }
}

[aria-disabled="true"],
[disabled],
.disabled {
    cursor: not-allowed;
    opacity: 0.3;

    pointer-events: none;
}

.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.center {
    align-items: center;
    justify-content: center;
}

.flex {
    flex: 1;
}

.gridoverlay {
    &::before {
        background-image: linear-gradient(
                to right,
                rgba(255, 255, 0, 0.2) var(--tiny),
                transparent var(--tiny)
            ),
            linear-gradient(
                to bottom,
                rgba(0, 255, 255, 0.2) var(--tiny),
                transparent var(--tiny)
            );
        background-size: var(--xsmall) var(--xsmall);
    }

    &::after {
        background-image: linear-gradient(
                to right,
                rgba(0, 255, 0, 0.1) var(--tiny),
                transparent var(--tiny)
            ),
            linear-gradient(
                to bottom,
                rgba(0, 0, 255, 0.1) var(--tiny),
                transparent var(--tiny)
            );
        background-size: var(--normal) var(--normal);
    }

    &::before,
    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 5;

        display: block;
        height: calc(1000 * var(--normal));

        background-position: top center;

        content: "";
        pointer-events: none;
    }
}

.outline-helper {
    & *,
    & *::before,
    & *::after {
        outline: var(--tiny) solid rgba(255, 0, 0, 0.5);
    }
}
