.avatar {
    width: calc(5 * var(--normal));
    height: calc(5 * var(--normal));
    object-fit: contain;
    object-position: center;

    & img {
        min-width: 100%;
        min-height: 100%;
    }

    &.has-border {
        border: var(--xxsmall) solid;
    }

    &.is-large {
        width: calc(7 * var(--normal));
        height: calc(7 * var(--normal));
    }

    &.is-small {
        width: calc(3 * var(--normal));
        height: calc(3 * var(--normal));
    }

    &.is-circle {
        border-radius: 100%;
    }

    &.is-rounded {
        border-radius: var(--normal);
    }
}
