.banner {
    padding: var(--xxlarge);

    &.is-success {
        background-color: var(--highlight-success-bg);

        & strong,
        & h1,
        & h2,
        & h3,
        & h4,
        & h5,
        & h6 {
            color: var(--highlight-success);
        }

        & button,
        & .btn {
            color: var(--white);

            background-color: var(--highlight-success);
        }
    }

    &.is-error {
        background-color: var(--highlight-error-bg);

        & strong,
        & h1,
        & h2,
        & h3,
        & h4,
        & h5,
        & h6 {
            color: var(--highlight-error);
        }

        & button,
        & .btn {
            color: var(--white);

            background-color: var(--highlight-error);
        }
    }

    &.is-notice {
        background-color: var(--highlight-notice-bg);

        & strong,
        & h1,
        & h2,
        & h3,
        & h4,
        & h5,
        & h6 {
            color: var(--highlight-notice);
        }

        & button,
        & .btn {
            color: var(--white);

            background-color: var(--highlight-notice);
        }
    }

    &.is-info {
        background-color: var(--highlight-info-bg);

        & strong,
        & h1,
        & h2,
        & h3,
        & h4,
        & h5,
        & h6 {
            color: var(--highlight-info);
        }

        & button,
        & .btn {
            color: var(--black);

            background-color: var(--highlight-info);
        }
    }
}
