.icon {
    position: absolute;
    top: calc(var(--xxsmall) / 2);
    left: 0;

    width: var(--small);
    height: var(--small);
    margin: var(--xxsmall) calc(var(--xxsmall) * 1.5);

    mix-blend-mode: luminosity;
}

.icon-link {
    position: relative;
    z-index: 1;

    display: inline-flex;
    margin: 0 var(--xxsmall);
    padding-right: var(--xsmall);
    padding-left: calc(var(--xlarge) + var(--xxsmall));

    color: var(--black);
    line-height: 1.375rem;

    transition: color 0.5s ease-in-out;

    &::before {
        position: absolute;
        left: 0;

        width: calc(100% + var(--large));
        height: var(--xlarge);

        background: var(--brand-primary-25);
        border-radius: 0.5rem;

        transition: clip-path 0.5 ease-in-out;

        content: "";
        clip-path: circle(var(--xlarge) at 0 var(--small));
    }

    &::after {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: -1;

        height: var(--xlarge);

        background-color: var(--brand-primary-25);
        border-radius: 0.5rem;

        transition: background-color 0.5s ease-in-out;

        content: "";
    }

    &:hover {
        color: var(--white);
        text-decoration: none;

        transition: color 0.5s ease-in-out;

        &::after {
            background-color: var(--brand-primary);
        }
    }
}
