.dark-mode-toggle {
    position: fixed;
    right: var(--normal);
    bottom: var(--normal);
    z-index: 100;

    width: var(--xxlarge);
    height: var(--xxlarge);
    padding: var(--xxsmall);

    color: inherit;

    background: var(--body-bg);
    border: var(--tiny) solid currentColor;
    border-radius: var(--xxsmall);
    cursor: pointer;

    &:focus {
        color: var(--brand-primary);

        outline: none;
    }

    & svg {
        object-fit: cover;
    }
}

:root {
    &.darkmode {
        --body-bg: var(--gray-extra-dark);
        --border-color: var(--gray-light);
        --text-color-light: var(--white);
        --text-color: var(--gray-extra-light);
        --text-color-dark: var(--gray-light);
        --link-color: var(--brand-primary-light);
        --link-hover-color: var(--brand-primary);
        --card-bg: hsla(0, 0%, 0%, 60%);
        --panel-bg: hsla(0, 0%, 0%, 60%);
        --overlay-bg: hsla(0, 0%, 100%, 60%);
    }

    & .icon {
        filter: invert(1);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --body-bg: var(--gray-extra-dark);
        --border-color: var(--gray-light);
        --text-color-light: var(--white);
        --text-color: var(--gray-extra-light);
        --text-color-dark: var(--gray-light);
        --link-color: var(--brand-primary-light);
        --link-hover-color: var(--brand-primary);
        --card-bg: hsla(0, 0%, 0%, 60%);
        --panel-bg: hsla(0, 0%, 0%, 60%);
        --overlay-bg: hsla(0, 0%, 100%, 60%);

        & .icon {
            filter: invert(1);
        }

        &.darkmode {
            --body-bg: var(--gray-extra-light);
            --border-color: var(--gray-dark);
            --text-color-light: var(--gray-dark);
            --text-color: var(--gray-extra-dark);
            --text-color-dark: var(--black);
            --link-color: var(--brand-primary-light);
            --link-hover-color: var(--brand-primary);
            --card-bg: hsla(0, 0%, 100%, 60%);
            --panel-bg: hsla(0, 0%, 100%, 60%);
            --overlay-bg: hsla(0, 0%, 0%, 60%);

            & .icon {
                filter: invert(0);
            }
        }
    }
}
