html.has-border {
    padding: var(--huge);
}

html.has-border::before,
html.has-border body::before {
    position: fixed;

    display: block;
    width: 100%;
    height: 100%;
    margin-top: var(--negative-huge);
    margin-left: var(--negative-huge);

    content: "";
    pointer-events: none;
}

html.has-border body::before {
    border: var(--large) solid var(--brand-primary-dark);
}

html.has-border::before {
    border-top: var(--xxlarge) solid var(--body-bg);
    border-bottom: var(--xxlarge) solid var(--body-bg);
    box-shadow: inset 0 0 var(--xxlarge) var(--xlarge) var(--body-bg);
}

html.has-border.darkmode body::before {
    border: var(--large) solid var(--brand-primary-light);
}
